.container {
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  font-size: 0.8rem;
  gap: 10px;
  width: 100%;
  min-width: 400px;
}

.iconContainer {
  gap: 10px;
}

a img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  background-color: white;
  border-radius: 50%;
}
